<?xml version="1.0" ?>

<robot name="architrave">

  <link name="base_link"> 

    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="2.0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>

    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.8" radius="0.05" />
      </geometry> 
      <material name="kindablue">
        <color rgba=".1 .5 .7 0.8"/>
      </material> 
    </visual>

    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.8" radius="0.05" />
      </geometry>
    </collision>  

  </link>

</robot>

